<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  let lineChartData = '[[${LineData}]]';
  lineChartData = lineChartData.replace(/&quot;/g, '"')
  let chartObj = JSON.parse(lineChartData);
  console.log(chartObj)
</script>
<script th:src="@{/js/record/record_admin.js}"> </script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['line', 'corechart']
      });
      

    // Draw the Depts work hours comparison chart by month  
    google.charts.setOnLoadCallback(drawSarahChart);
    // Draw the overwork time chart
    google.charts.setOnLoadCallback(drawAnthonyChart);

    google.charts.setOnLoadCallback(drawChart);

</script>
</head>
<body>
<h3>관리자 페이지용</h3>
<!--Table and divs that hold the pie charts-->
<span th:text="${LineData}"></span>
<hr>
<div th:each="entry : ${LineData}">
  <h2 th:text="${entry.key}"></h2>
  <!-- <ul>
      <li th:each="data : ${entry.value}">
          <span th:text="${data.year}"></span>: <span th:text="${data.workData}"></span>
      </li>
  </ul> -->
</div>
<table class="columns">
    <tr>
      <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
      <td><div id="Sarah_chart_div" style="border: 1px solid #ccc"></div></td>
      <td><div id="Anthony_chart_div" style="border: 1px solid #ccc"></div></td>
      
    </tr>
  </table>
</body>
</html>