<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/record.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
	let flag = '[[${flag}]]'
	let mem = '[[${session.loginId}]]';
	let num = '[[${num}]]';
</script>
</head>
<body>

<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
  <div class="main_body">
    <div class="record_top">
        <div class="record_top_wrapper">
            <div class="record_msg">
                <p id="record_mention" class="font_b24 m_b2">근무시간입니다.</p>
                <p id="record_time" class="font_b24">2024.05.06 오전 09:07</p>
                <button id="record_sta" class="btn_border round w_bg record_sta font_b24">출근완료</button>
            </div>
            <div class="record_btn_wrapper">
                <button id="com_start" onclick='workin()' class="btn_square blue_btn font_b24 cursor record_marright">출근하기</button>
                <button id="com_end" onclick='workout()' class="btn_square gray_btn font_b24 cursor record_marright">퇴근하기</button>
                <button class="btn_square border_btn font_b24 cursor">휴가신청</button>
            </div>
        </div>
    </div>
	<!-- 기록 테이블 --> 
	    <div class="record_table w_bg">
        <div class="record_table_title">
            <p>근무기록 확인</p>
            <div class="record_month font_b24">
                <div id="record_left" class="arrow left_arrow cursor" onclick="arrow_btn(-1)"></div>
                <span class="month">2022.07</span>
                <div id="record_right" class="arrow right_arrow arrow_off" onclick="arrow_btn(+1)"></div>
            </div>
        </div>
        <div class="record_table_wrapper">
            <table class="record_rtable">
                <thead>
                    <td>일자</td>
                    <td>요일</td>
                    <td>출근시간</td>
                    <td>퇴근시간</td>
                    <td>근무시간</td>
                    <td>상태</td>
                </thead>
                <tbody class="record_list">
                    <tr th:each="s:${list}">
                        <td th:text="${s.day}">24.05.06</td>
                        <td th:text="${s.dayOfWeek}">목</td>
                        <td th:text="${s.workinTime}">09:00</td>
                        <td th:text="${s.workOutTime}">16:00</td>
                        <td th:text="${s.workHours}">09:00</td>
                        <td th:text="${s.state}">조기퇴근</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button onclick='workin()'> 눌러라 </button>
		<form th:action="@{/auth/record/offday(Members=${session.loginId})}" method="post">
		<input type="text" name="res">
		<input type="date" name="date1">
		<input type="date" name="date2">
		<input type="submit">
		</form>
			
    </div>

  </div>
</body>
<script th:src="@{/js/record.js}"></script>
</html>