<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>직원 정보 등록 페이지</h3>
<form action="/member/memberadd" method="post">
<table border="1">
<!-- <tr><th>MEMBERID</th><td th:text="${member.memberid }" name="memberid"></td></tr> -->
<tr><th>BIRTHDT</th><td><input type="text" name="birthdt"></td></tr>
<tr><th>EMAIL</th><td><input type="text" name="email"></td></tr>
<tr><th>CPNUM</th><td><input type="text" name="cpnum"></td></tr>
<tr><th>ADDRESS</th><td><input type="text" name="address"></td></tr>
<tr><th>MEMBERIMGNM</th><td><input type="file" name="memberimgnm"></td></tr>
<tr><th>DEPTID</th><td><input type="text" name="deptid"></td></tr>
<tr><th>JOBLV</th><td><input type="text" name="joblv"></td></tr>

</table>
<input type="hidden" name="hiredt" value=""><br/>
<input type="hidden" name="leavdt" value=""><br/>
<input type="submit" value="수정">
</form>
<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>