<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
window.onload = () => {
	if('[[${member?.memberid }]]' != '[[null]]'){
		let memberaddvar = document.getElementById('memberaddid');
		memberaddvar.value = '내정보수정하기';
		document.getElementById('memberidid').style.display = '';
		document.getElementById('hiredtid').style.display = '';
	}
console.log(document.getElementById('birthdtid').value);
}

const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>내 정보 페이지</h3>
<form th:action="@{/member/memberadd}" method="post" name="memberf">
<table border="1">
<tr th:if="${member?.memberid != null }" id="memberidid" style="display:none"><th>MEMBERID</th><td th:text="${member?.memberid }"></td></tr>
<tr><th>BIRTHDT</th><td><input type="date" name="birthdt" id="birthdtid" th:value="${member?.birthdt }"></td></tr>
<tr><th>EMAIL</th><td><input type="text" name="email" th:value="${member?.email }"></td></tr>
<tr><th>CPNUM</th><td><input type="text" name="cpnum" th:value="${member?.cpnum }"></td></tr>
<tr><th>ADDRESS</th><td><input type="text" name="address" th:value="${member?.address }"></td></tr>
<tr><th>MEMBERIMGNM</th><td><input type="file" name="memberimgnm" th:value="${member?.memberimgnm }"></td></tr>
<tr th:if="${member?.hiredt != null }" id="hiredtid" style="display:none"><th>HIREDt</th><td th:text="${member?.hiredt }"></td></tr>
<tr><th>DEPTID</th><td><input type="text" name="deptid" th:value="${member?.deptid.deptid }"></td></tr>
<tr><th>JOBLV</th><td><input type="number" name="joblv" th:value="${member?.joblv }"></td></tr>

</table>
<input type="hidden" name="userid" th:value="${session.loginId }"><br/>
<input type="hidden" name="leavedt" th:value="${member?.leavedt }"><br/>
<div th:if="${member?.userid.id != null } or ${session.type == 'admin' }">
<input id="memberaddid" type="submit" value="내정보등록하기"><br/>
</div>
</form>
<input id="resetid" type="reset" value="취소하기"><br/>
<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>