<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/common/reset.css}">
<link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">

<script type="text/javascript">
const usereditbtn = (userid) => {
	location.href='/user/useredit?id=' + userid;
}

const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}

</script>
</head>
<body>
<h3>내 로그인 정보 페이지</h3>
<table border="1">
<tr><th>사용자 계정</th><td th:text="${user.id }"></td></tr>
<tr><th>사용자 이름</th><td th:text="${user.usernm }"></td></tr>
<tr><th>사용자 비밀번호</th><td><input type="password" name="pwd" id="pwdid" th:value="${user.pwd }" readonly></td></tr>
<tr><th>사용자 유형</th><td th:text="${user.type }"></td></tr>
<tr><th>사용자 승인 상태</th><td th:text="${aprovStr }"></td></tr>

</table>
<div th:if="${session.loginId == user.id } or ${session.type == 'admin' }">
<input id="usereditid" type="button" value="내로그인정보수정페이지이동버튼" th:onclick="usereditbtn([[${user.id }]])"><br/>

<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
</body>
</html>