<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>로그인 페이지</h3>
<form action="/login" method="post" name="f">  <!-- SecurityConfiguration의 loginProcessingUrl에 지정한 값과 action이 같아야함 -->
<table border="1">
	<tr>
		<th>ID</th>
		<td>
			<input type="text" name="id" id="id">
		</td>
	</tr>
	<tr>
		<th>PWD</th><td><input type="password" name="pwd"></td>
	</tr>
</table>
<input type="submit" value="로그인">
</form>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>