<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const checklogin = () => {
	if (userloginf.id.value.length <= 0) {
		alert("ID는 필수 입력 사항");
		userjoinf.id.focus();
		return;
	}
	if (userloginf.pwd.value.length <= 0) {
		alert("PWD는 필수 입력 사항");
		userjoinf.pwd.focus();
		return;
	}
	userloginf.submit();
}

const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>로그인 페이지</h3>
<form action="/login" method="post" name="userloginf">
<table border="1">
	<tr>
		<th>ID</th>
		<td>
			<input type="text" name="id" id="id">
		</td>
	</tr>
	<tr>
		<th>PWD</th><td><input type="password" name="pwd"></td>
	</tr>
</table>
<div th:text="${loginFailMsg }"></div>
<input type="button" value="로그인" th:onclick="checklogin()">
</form>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>