<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
</head>
<body>

<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
<div class="main_body">
	<a href="auth/users/list">사용자목록</a>
	<h3>emp 페이지</h3>
	<div th:text="${session.loginId }"></div>
	<div th:text="${session.type }"></div>
	<div th:insert="~{header}"></div>
	<a href="/auth/docx/add">문서테스트</a>
	
	<section id="chart">
	  <h3>일정 관리</h3>
	  <a href="/auth/chart/gantt">간트차트</a> &nbsp;
	  <a href="/auth/chart/calendar">달력</a> &nbsp;
	  <button>일정추가</button>
	  <!--  테이블 출력 영역-->
	  <div>
	    <table border="1">
	      <tr>
	        <th>taskid</th>
	        <th>taskname</th>
	        <th>sdate</th>
	        <th>edate</th>
	        <th>percent</th>
	        <th>dependencies</th>
	        <th></th>
	      </tr>
	      <tr th:each="s:${list}">
	        <td th:text="${s.taskid}"></td>
	        <td th:text="${s.title}"></td>
	        <td th:text="${s.st}"></td>
	        <td th:text="${s.ed}"></td>
	        <td th:text="${s.percent}"></td>
	        <td th:text="${s.dependencies}"></td>
	        <td><a th:href="@{/auth/chart/del(id=${s.taskid})}">삭제</a></td>
	      </tr>
	    </table>
	  </div>
	  <!--  데이터 추가 팝업-->
	  <div id="popup_layer">
	    <div>
	      <div>
	        <h5>input</h5>
	        <form action="/auth/chart/add" method="post" name="f">
	          <table>
	            <tr>
	              <th>id</th>
	              <td><input type="text" name="id" placeholder="id" th:value="${session.loginId}" readonly></td>
	            </tr>
	            <tr>
	              <th>title</th>
	              <td><input type="text" name="title" placeholder="title"></td>
	            </tr>
	            <tr>
	              <th>start date</th>
	              <td><input type="date" name="st"></td>
	            </tr>
	            <tr>
	              <th>end date</th>
	              <td><input type="date" name="ed"></td>
	            </tr>
	            <tr>
	              <th>percent</th>
	              <td><input type="text" name="percent" placeholder="percent"></td>
	            </tr>
	            <tr>
	              <th>dependencies</th>
	              <td><input type="text" name="dependencies" placeholder="task1,task2..."></td>
	            </tr>
	            <tr>
	              <th></th>
	              <td><input type="submit" value="save"></td>
	            </tr>
	          </table>
	        </form>
	      </div>
	    </div>
	  </div>
</div>
</section>
</body>
</html>