<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
</head>
<body>
<h3>부서 목록 페이지</h3>
<form action="/admin/corp/getdeptby" method="post">
<table border="1">
<tr>
<td>
<select name="type">
<option value="1">부서이름</option>
<option value="2">부서장</option>
</select>
</td>
<td>
<input type="text" name="val">
</td>
</tr>
</table>
<input type="submit" value="검색">
</form>

<table border="1">
<tr>
<th>deptid</th><th>deptnm</th><th>mgrid</th>
</tr>
<tr th:each="dl:${dlist }">
<td th:text="${dl.deptid }"></td>
<td><a href="/corp/deptdetail.html" th:href="@{/admin/corp/deptdetail(deptid=${dl.deptid})}" th:text="${dl.deptnm}">deptnm</a></td>
<td th:text="${dl.mgrid }"></td>
</tr>
<a th:href="@{/admin/corp/deptdetail}">test</a>
</table>

<input type="button" value="부서추가페이지이동버튼" onclick="location.href='/admin/corp/deptadd'"><br/>
<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
<input type="button" value="홈버튼" th:onclick="location.href='/'"><br/>
</body>
</html>