<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="wrap1" th:fragment="leftBar">
	<div id="left" th:if="${session.type == 'admin'}">
	  <a th:href="@{/board/list}">MAIN</a>
	  <a th:href="@{/board/list}">인사카드 관리</a>
	  <a th:href="@{/board/list}">부서관리</a>
	  <a th:href="@{/board/list}">출퇴근기록</a>
	</div>
	<div id="left" th:if="${session.type != 'admin'}">
	  <a th:href="@{/board/list}">MAIN</a>
	  <a th:href="@{/board/list}">인사카드 관리</a>
	  <a th:href="@{/board/list}">출퇴근</a>
	  <a th:href="@{/board/list}">휴가신청</a>
	  <hr>
	  <a th:href="@{/board/list}">메일함</a>
	  <a th:href="@{/board/list}">채팅</a>
	  <a th:href="@{/board/list}">문서관리</a>
	  <a th:href="@{/board/list}">캘린더</a>
	</div>
  
</div>

</body>
</html>